<!DOCTYPE html>
<html>
	<% include install.ejs %>
	<body>
		<header class="jsxq_header">
			<p><%=title%></p>
		</header>
		<div class="return">
			<img src="../../public/images/install/ico_btn1_header@2x.png" alt="返回按钮" />
		</div>
		<div class="putuo">
			<section class="putuo_pic">
				<img src="../../public/images/install/img@2x.png" alt="" />
				<p>mypuduo.com</p>
			</section>
			<section class="foot_bb">
				<p style="display: none;">版本号：85858585</p>
				<h2>深圳好幸福科技有限公司版权所有</h2>
			</section>
		</div>
	</body>
</html>