<!DOCTYPE html>
<html>
	<% include install.ejs %>
	<body>
		<header class="jsxq_header">
			<p><%=title%></p>
		</header>
		<div class="return">
			<img src="../../public/images/install/ico_btn1_header@2x.png" alt="返回按钮" />
		</div>
		<a href="http://localhost:3000/install/normal">
			<section class="normal_question">
				<p>常见问题</p>
				<img src="../../public/images/install/btn_main_middle@2x.png" alt="" />
			</section>
		</a>
		<div class="blank_one"></div>
		<a href='tel:400-8326-838'>
			<section class="normal_question contact_us">
				<p>联系我们</p>
				<img src="../../public/images/install/btn_main_middle@2x.png" alt="" />
				<div class="times">
					我们的服务时间是16:43-17:43
				</div>
			</section>
		</a>
		<a href="http://localhost:3000/install/about_putuo">
			<section class="normal_question about_us">
				<p>关于我们</p>
				<img src="../../public/images/install/btn_main_middle@2x.png" alt="" />
			</section>
		</a>
		<div class="blank_one"></div>
		<footer class="back_account">
			退出账号
		</footer>
	</body>
</html>