<!DOCTYPE html>
<html>
	<% include install.ejs %>
	<body>
		<header class="jsxq_header">
			<p><%=title%></p>
		</header>
		<div class="return">
			<img src="../../public/images/install/ico_btn1_header@2x.png" alt="返回按钮" />
		</div>
		<div class="all_problems">
			<section class="install_same">
				<div class="install_min">
					01. 什么是一元夺券众筹平台？简称“一元夺券”
				</div>
				<div class="install_open">
					在一元夺券里，就是指用户充值或花费一元即可获得一次众筹人次，同时作为回馈，用户可以获得社交平台里的一次晒图次数。（初始用户有100次晒图次数） 用户凭着这个众筹人次参与某栏礼券的众筹购买。每个栏目的礼券分配相应数量的众筹码，每个众筹码价值1次众筹人次；当一个栏目的礼券的所有众筹码送出后，根据预先制定的规则计算出一个幸运众筹码，持有该幸运众筹码的用户，直接获得该栏目的礼券，持有礼券的用户可以去扑多商城里选购相应的商品。
					<strong>礼券将会以用户获得的数量以文字形式存入用户账号，方便用户购物支付时使用。</strong>

				</div>
			</section>
			<section class="install_same">
				<div class="install_min">
					02. 一元夺券的规则是什么？
				</div>
				<div class="install_open">
					*每栏礼券根据一元夺券平台规定平分成相应数量的众筹人次，每人次一元，一元对应一个众筹码（1人次=1元=1个众筹码） <br/><br/> *同一栏礼券可以多次购买或一次购买多次。 <br/><br/>*当某一栏礼券所有众筹码分配完后系统将会根据预先制定的规则计算出“幸运众筹码”，拥有“幸运众筹码”者即可获得此栏礼券。
					<br/><br/> *幸运众筹码计算规则方法： <br/> 1）当某栏礼券的最后一个众筹码分配完毕后，将公示截止该时间点本站全部商品的最后50个参与时间；<br/> 2）将这50个时间的数值进行求和（得出数值A）（每个时间按时、分、秒、毫秒的顺序组合，如20:15:25.362则为201525362）； <br/>3）为保证公平公正公开，系统还会等待一小段时间，取最近下一期中国福利彩票“老时时彩”的揭晓结果（一个五位数值B）；<br/> 4）（数值A+数值B）除以该栏礼券总需人次得到的余数
					+ 原始数 10000001，得到最终幸运众筹码，拥有该幸运众筹码者，直接获得该栏礼券。
					<br/>5）为什么要加入“老时时彩”揭晓结果？ 引入“老时时彩”揭晓结果是为了保证幸运号码计算结果的绝对公平公正。<br/> 6）幸运众筹码的计算结果可信吗？ 由于使用了“老时时彩”揭晓结果作为参数，因此幸运号码肯定是未知的； 您可以绝对相信计算结果真实、可信。
					<br/><br/> 注：如遇福彩中心通讯故障，无法获取上述期数的中国福利彩票“老时时彩”揭晓结果，且24小时内该期“老时时彩”揭晓结果仍未公布，则等待福彩中心通讯恢复正常再进行幸福众筹码的揭晓。

				</div>
			</section>
			<section class="install_same">
				<div class="install_min">
					03. 一元夺券的流程是怎么样的：
				</div>
				<div class="install_open">
					1. 获得众筹人次：用户充值或花费一元，即可获得一次众筹人次。<br/><br/> 2. 挑选想要参与的夺券栏目：每一条夺券栏目分配相应数量的众筹码，一次众筹人次，可以获得其中一个众筹码（系统随机分配） 同一栏礼券可以多次购买或一次购买多次。
					<br/><br/>3.揭晓礼券获得者：当所有众筹码都被分配完毕后，系统根据规则计算出1个幸运众筹码，持有该幸运众筹码的用户，直接获得该栏目里的礼券。并且扑多平台会通过手机短信或邮件通知礼券获得者和即时在一元夺券平台公布夺券结果。
					<br/><br/> 4.选购商品：用户持有礼券可以前往扑多商城选购相应的商品，并且使用礼券进行购物支付。 *未获得礼券的用户不会收到短信或邮件通知。
				</div>
			</section>
			<section class="install_same">
				<div class="install_min">
					04.什么是扑多商城？
				</div>
				<div class="install_open">
					在扑多商城平台里，用户可以挑选自己喜欢的商品，然后使用从一元夺券平台里获得的礼券进行购物支付。<br/>支付成功后的商品将会邮寄到用户指定地址（除部分特殊商品需自取外），全国免费配送（港澳台及国外地区除外）。<br/>扑多商城的商品全部来自正规渠道并且保证所有商品为正品，全部商品享受商品生产厂方提供的三包政策，具体三包规定以该商品生产厂家公布的为准。<br/>扑多商城平台目前只接受由深圳市好幸福网络科技公司生产的礼券在平台内使用，且获得礼券的唯一指定平台为扑多平台内一元夺券平台，本商城平台不接受任何其他渠道获得的礼券在平台内使用。
				</div>
			</section>
			<section class="install_same">
				<div class="install_min">
					05.什么是扑多社交？
				</div>
				<div class="install_open">
					在扑多社交平台里，用户可以相互关注，相互评论，相互分享，在分享的过程如有携带图片的则受到晒图次数限制，晒图次数获得方法请参考一元夺券详情页，新用户免费享有晒图分享100次，扑多社交平台的晒图分享将会带给你最新最潮流的体验模式。
				</div>
			</section>
			<section class="install_same">
				<div class="install_min">
					06.其他常见问题
				</div>
				<div class="install_open">
					Q：怎么查看我参与的礼券众筹购买记录还有我是否成功获得礼券？<br/> A: 登陆扑多平台，进入我的账号页面，在我的夺券记录里面可以查看已参加众筹购买的礼券记录。当每栏礼券揭晓结果公布之后，在我获得的礼券里面可查看已获得的礼券，如果没有获得则不会在此显示，同时我们也会对已获得礼券的用户通过手机或者邮件进行提醒，没有获得礼券的用户将不会收到通知。<br/><br/> Q： 我获得了礼券，我还我还需要支付其他费用吗？<br/> A: 不需要支付其他任何费用。<br/><br/> Q：当我获得礼券以后我该做什么？
					<br/>A： 当您获得礼券后会收到站内信，短信或电子邮件通知，此时你可以前往扑多平台内的扑多商城选购相应的商品，并且使用获得的礼券进行购物支付。<br/><br/> Q：我要如何在扑多商城选购商品?
					<br/> A挑选商品，确认应支付的礼券数量，支付成功后生成订单并且在七天内确认收货地址，超过7天未确认收货地址，视为自动放弃该商品，且已支付的礼券将不予退返。
					<br/><br/> Q：当我在扑多商城选购完商品后并且确认支付生成订单后可以取消该订单吗？
					<br/> A：很抱歉，一旦确认支付，并且支付成功生成订单后，不得取消该订单。请用户谨慎选择要购买的商品。
					<br/><br/> Q：当我成功在扑多商城选购商品后我需要支付邮费吗还有多久可以收到商品？
					<br/> A: 全国免费配送（港澳台及国外地区除外）。 家电类产品、数码类产品在货源正常情况下将会在7天内安排派送，其他类产品在货源正常情况下将会在20天内安排派送，实际收货日期根据相关快递公司提供，汽车类产品在用户兑换之后将会在10天内由扑多平台客服进行确认并协商提车事宜，提车时间段一般在用户进行兑换后的1到3个月内，具体提车时间段由深圳市好幸福网络科技有限公司与相关车行进行确认后告知用户，请用户知悉根据具体情况，确认提车时间段有可能改变，具体情况扑多平台将会在第一时间告知用户。<br
					/> 请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成配送延迟或无法配送等，本站将不承担责任：
					<br/> 1、客户提供错误信息和不详细的地址；
					<br/> 2、货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果。
					<br/> 3、不可抗力，例如：自然灾害、交通戒严、突发战争等。
					<br/><br/> Q: 我选购的商品如果发生缺货状况怎么办？<br/> A：由于市场变化及各种以合理商业努力难以控制的因素的影响，扑多平台无法承诺用户所选购的商品都会有货；用户选购后的商品或服务如果发生缺货，协议双方均无权取消该获得的礼券众筹购买交易，扑多平台将第一时间进行补货并安排派送，若补货不成或该商品已退市，扑多平台将通过有效方式通知用户进行等价商品换货或退还礼券至其扑多平台账户。
					<br /><br /> Q：扑多商城的商品是正品吗？怎么保证？
					<br/> A：扑多平台承诺，所有商品100%正品且全部来自正规渠道，可享受厂家所提供的全国联保服务，享受商品的保修没换货和退货的义务（国家三包政策）。
					<br/><br/> Q：商品验收与签收注意事项有哪些？
					<br /> A：1.签收时请慎重，尽量本人签收，签收时务必仔细检查商品，如：外包装是否被开封，商品是否破损，配件是否缺失，功能是否正常。在确保无误后再签收，以免产生不必要的纠纷。若有任何疑问，请及时拨打客服电话反馈信息，若因用户未仔细检查商品即签收后产生的纠纷，扑多平台概不负责，仅承担协调处理的义务；
					<br /> 2. 用户所获商品，相关商品质量及保修问题请直接联系生产厂家；<br /> 3. 若因您的地址填写错误、联系方式填写有误等情况造成商品无法完成投递或被退回，所产生的额外费用及后果由用户负责；<br /> 4. 如因不可抗拒的自然原因，如地震、洪水等，所造成的商品配送延迟，扑多平台不承担责任；<br /> 5. 温馨提醒：若商品已签收，则说明商品配送正确无误且不存在影响使用的因素，扑多平台有权不受理换货申请。<br /><br /> Q：商品配送过程中需要注意什么？

					<br /> A：确保收货地址、邮编、电话、Email、地址等各项信息的准确性，配送过程中联系方式畅顺无阻，如果联络您的时间超过7天未得到回复，默认您已经放弃此商品，且已支付的礼券将不予退返。
					<br /><br /> Q：我选购成功并收到商品后可以换货或者退货吗？
					<br /> A: 非质量问题，不在三包范围内。不给予退换货。<br /><br /> Q：如果我想选购的商品其所需的礼券数量超过我所拥有的礼券数量我该怎么办？
					<br /> A：请用户选购和您拥有的礼券数量相等或以下的商品，或者前往一元夺券平台参与礼券众筹购买获得更多的扑多商城礼券。
					<br /><br /> Q：普通礼券和超级礼券有什么区别？它们之间的关系是什么？
					<br /> A: 同样可以在扑多平台内扑多商城平台使用，但其可选购的商品有所不同。1张超级礼券=10张普通礼券，例如我有1张超级礼券，但我选购的商品所需的礼券数量是2张普通礼券，当我购物支付成功后系统会扣掉我1张超级礼券，然后找回我8张普通礼券。<br /><br /> Q：什么是众筹人次？
					<br /> A：众筹人次是1元夺券的代币，用户每充值1元，即可获得1次众筹人次；1次众筹人次可以直接购买1个众筹码。
					<br /><br /> Q：如何进行众筹人次充值？
					<br /> A：个人中心可以找到入口进行充值；需要注意的是，充值之后获得的是众筹人次，可以直接用于参与夺券。
					<br /><br /> Q：众筹人次是否可以提现？
					<br /> A：很抱歉，众筹人次无法提现。
					<br /><br /> Q：获得的礼券是否可以提现或者具有现金流通价值？
					<br /> A：很抱歉，获得的礼券无法提现，礼券并无现金流通价值，不可转让或出售，并且只能在扑多平台内使用。
					<br /><br /> Q：如果某一栏礼券很久都没达到总需人次怎么办？
					<br /> A：若某栏礼券的众筹码从开始分配之日起90天未分配完毕，则扑多平台有权取消该栏礼券的众筹购买活动，并向用户退还众筹人次，所退还众筹人次将在3个工作日内退还至用户账户中。
					<br /><br /> Q：扑多商城内商品是否可以自己选择颜色？
					<br /> A：很抱歉，扑多商城内所有商品的颜色将随机发放，扑多平台不能保证所有用户可以获得指定颜色的商品，敬请谅解。
					<br /><br /> Q：参与一元夺券需要注意什么？
					<br /> A：用户完全了解参与1元夺券存在的风险，扑多平台无法保证用户参与一元夺券一定会获得礼券。另外为了确保在您成为幸运用户后第一时间收到通知，请务必正确填写真实有效的联系电话和收货地址。
					<br /><br /> Q：网上银行支付和充值未及时到账怎么办？
					<br /> A: 网上支付未及时到帐可能有以下几个原因造成：<br /> 第一，由于网速或者支付接口等问题，支付数据没有及时传送到支付系统造成的；
					<br /> 第二，网速过慢，数据传输超时，使银行后台支付信息不能成功对接，导致银行交易成功而支付后台显示失败；
					<br /> 第三，在网上支付如果使用某些防火墙软件，有时会屏蔽银行接口的弹出窗口，这时会造成在银行那边被扣费，但在我们网站上显示尚没支付。但请您放心，每天我们都会根据银行系统的帐务明细清单对前一天的订单进行逐笔核对，如遇问题订单，我们会做手工添加。
					<br /><br /> Q：您付款遇到问题了？看看是不是由于下面的原因。

					<br />
					<strong>问题一：支付平台（例如网易宝、支付宝、微信、网银等）已经扣款，但众筹人次余额没有增加？</strong><br /> 答：请您不用担心，如果是因为银行单边账等原因造成的上述问题，已付款项将会在5-7个工作日内原路退回到您的银行账户；如果是因为银行网络延迟等原因造成的上述问题，则已付款项将会在会在5-7个工作日内以余额形式充值到您的扑多账户。
					<br /><br />
					<strong>问题二：支付平台（例如网易宝、支付宝、微信、网银等）已经扣款，但没有获得众筹码？</strong><br /> 答：这是因为支付完成时当期礼券的众筹码已经分配完毕，该笔款项将以余额形式充值到您的扑多账户，请于1个工作日后登录扑多平台后在“个人中心>账户余额”中查看。
					<br /><br />
					<strong>问题三：网上银行页面打不开，怎么办？</strong><br /> 答：建议使用Microsoft IE浏览器。点击IE的菜单“工具”―“internet选项”―“安全”―将安全中的各项设置恢复到默认级别。<br /><br />
					<strong>问题四：支付平台重复多次付款了该怎么办？</strong><br /> 答：由于支付平台没有即时传输数据给扑多平台，造成您在支付平台被重复扣款。不过请放心，扑多平台将在和支付平台对账确认您的付款后，将重复支付款项原路退回到您的支付平台账户。
					<br /><br />

					<span id="num_jump">Q:扑多平台的客服电话是多少：<br />
				A:4008-326-838</span></span><br />
				</div>
			</section>
			<section class="install_same">
				<div class="install_min">
					07.公平、公正、公开保障。
				</div>
				<div class="install_open">
					一元夺券作为扑多平台内的一个平台，保证所有参与夺券的用户行为，都享受同样的权利与义务。<br /> 一元夺券幸运众筹码计算公式，加入了“老时时彩”数据作为公正数据源，保证揭晓结果的随机性，保证绝对公正性。
					<br /> 一元夺券的夺券过程是完全透明的，您可以随时查看每栏礼券的参与人数、参与次数、参与名单及幸运众筹码信息等记录。
					<br />

				</div>
			</section>
			<section class="install_same">
				<div class="install_min">
					08.特别声明
				</div>
				<div class="install_open">
					扑多平台在此声明，您参与的任何活动与苹果公司无关。<br /><br /> 通过本产品（扑多平台）所从事的任何活动及其获得的任何奖励均与苹果公司无关。苹果公司既不作为赞助商也不以任何形式参与。
					<br />
				</div>
			</section>
		</div>
	<script type="text/javascript" src="../../public/javascripts/normalquestion.js" ></script>
	</body>
</html>