<!DOCTYPE html>
<html>

	<% include install.ejs %>

	<body>
		<header class="jsxq_header">
			<p class="title_font">什么是一元夺券，它的流程是什么？</p>
		</header>
		<div class="return">
			<img src="../../public/images/install/ico_btn1_header@2x.png" alt="返回按钮" />
		</div>
		<div class="puduoexplain">
			<h1>
				一、什么是一元夺券
			</h1>
			<div class="puduoexplain_bg">在一元夺券里，就是指用户充值或花费一元即可获得一次众筹人次，用户凭着这个众筹人次参与某栏礼券的众筹购买。每个栏目的礼券根据里面所包含的礼券数量分配相应的众筹码，每个众筹码价值1次众筹人次；当一个栏目的礼券的所有众筹码送出后，根据预先制定的规则计算出一个幸运众筹码，持有该幸运众筹码的用户，直接获得该栏目的礼券，持有礼券的用户可以去扑多商城里选购相应的商品。 礼券将会以用户获得的数量以文字形式存入用户账号，方便用户购物支付时使用。
			</div>
		</div>
		<div class="puduoexplain">
			<h1>
				二、一元夺券的流程
			</h1>
			<div class="puduoexplain_bg">
				<p>1. 获得众筹人次：用户充值或花费一元，即可获得一次众筹人次。 </p><br/>
				<p>2. 挑选想要参与的夺券栏目：每一条夺券栏目分配相应数量的众筹码，一次众筹人次，可以获得其中一个众筹码（系统随机分配） 同一栏礼券可以多次购买或一次购买多次。</p><br/>
				<p>3. 揭晓礼券获得者：当所有众筹码都被分配完毕后，系统根据规则计算出1个幸运众筹码，持有该幸运众筹码的用户，直接获得该栏目里的礼券。并且扑多平台会通过手机短信或邮件通知礼券获得者和即时在一元夺券平台公布夺券结果。</p><br/>
				<p>4. 选购商品：用户持有礼券可以前往扑多商城选购相应的商品，并且使用礼券进行购物支付。 </p><br/>
				<p> *未获得礼券的用户不会收到短信或邮件通知。</p>
			</div>
		</div>
		<div class="puduoexplain">
			<div class="puduoexplain_ps">
				<h2>备注：</h2>
				<p>1. 一张超级礼券所需的众筹人次为1000人次</p>
				<p>2. 一张普通礼券所需的众筹人次为100人次</p>
				<p>3. 每栏礼券里的所包含的礼券数量都不一样，所需的人次也会随着礼券的数量而进行相应的增加</p>
				<p>4. 每人次一元，一元对应一个众筹码（1人次=1元=1个众筹码）</p>
			</div>
		</div>
	</body>

</html>