<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<script type="text/javascript" src="../../public/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/self-adapation.js"></script>
		<link rel="stylesheet" href="../../public/stylesheets/whatispuduo.css" />
		<title><%=title%></title>
	</head>
	<body>
		<div class="what_li">
			<div id="banner_box" class="box_swipe" style="visibility: visible;">
				<ul>
					<li>
						<img src="../../public/images/install/first.jpg" alt="" />
					</li>
					<li>
						<img src="../../public/images/install/second.jpg" alt="" />
					</li>
					<li>
						<img src="../../public/images/install/third.jpg" alt="" />
					</li>
					<li>
						<img src="../../public/images/install/fourth.jpg" alt="" />
					</li>
				</ul>
				<ol class="what_choose">
					<li class="on"></li>
					<li class=""></li>
					<li class=""></li>
					<li class="" id="hide_btn"></li>
				</ol>
				<img src="../../public/images/install/ico_btn1_header@2x.png" alt="返回按钮" class="return_img" />
				<div class="ok_btn">
					×
				</div>
				<div class="attend_now"></div>
			</div>
		</div>
		<script type="text/javascript" src="../../public/javascripts/swipe.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.marquee.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/whatis.js"></script>
	</body>

</html>