<!DOCTYPE html>
<html>

	<!--<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<script type="text/javascript" src="../public/js/self-adapation.js"></script>
		<link rel="stylesheet" href="../public/css/community.css" />
		<title>排行榜</title>
	</head>-->
<% include community.ejs %>
	<body>
		<header class="ranking_head">
			<div class="ranking_head_in">
				<img src="../../public/images/community/rankinglisth_01.jpg" alt="" />
				<img src="../../public/images/community/rankinglisth_02.jpg" alt="" />
				<img src="../../public/images/community/rankinglisth_03.jpg" alt="" /></div>
			<div class="back_step">
				<img src="../../public/images/install/ico_btn1_header@2x.png" alt="" />
			</div>
			<div class="ask_sign">
				<img src="../../public/images/community/ask.png" alt="" />
			</div>
			<div class="send_flower">
				<img src="../../public/images/community/send_yellow.png" alt="" class="send_flower_first" />
				<img src="../../public/images/community/receive_white.png" alt="" class="send_flower_last" />
			</div>
		</header>
		<div class="ranking_send">
			<div class="ranking_send_head">
				<img src="../../public/images/community/rankinglisth_04.jpg" alt="" />
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>
					<li class="ranking_send_adward">
						<img src="../../public/images/community/ico_no1@2x.png" alt="" />
					</li>
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>
					<li class="ranking_send_adward">
						<img src="../../public/images/community/ico_no2@2x.png" alt="" />
					</li>
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>
					<li class="ranking_send_adward">
						<img src="../../public/images/community/ico_no3@2x.png" alt="" />
					</li>
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_send_out">
				<ul class="ranking_send_details">
					<li class="ranking_send_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_send_nickn">
						<h3>这里写你的昵称就可以了这里写你的昵称就可以了</h3>
						<div class="ranking_send_nickn_de">
							<span class="ranking_send_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_send_inline"/>
							<span class="ranking_send_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>		
		</div>
		<div class="ranking_obtain">
			<div class="ranking_obtain_head">
				<img src="../../public/images/community/rankinglisth_07.jpg" alt=""/>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>
					<li class="ranking_obtain_adward">
						<img src="../../public/images/community/ico_no1@2x.png" alt="" />
					</li>
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>
					<li class="ranking_obtain_adward">
						<img src="../../public/images/community/ico_no2@2x.png" alt="" />
					</li>
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>
					<li class="ranking_obtain_adward">
						<img src="../../public/images/community/ico_no3@2x.png" alt="" />
					</li>
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
			<div class="ranking_obtain_out">
				<ul class="ranking_obtain_details">
					<li class="ranking_obtain_img">
						<img src="../../public/images/all/img-face.jpg" alt="" />
					</li>
					<li class="ranking_obtain_nickn">
						<h3>这里写你的昵称就可以了</h3>
						<div class="ranking_obtain_nickn_de">
							<span class="ranking_obtain_inline">共送出</span>
							<img src="../../public/images/community/flower.png" alt="" class="ranking_obtain_inline"/>
							<span class="ranking_obtain_inline">×&nbsp;&nbsp;151515</span>
						</div>
					</li>					
				</ul>
			</div>
		</div>
		<footer class="ranking_foot">
			<img src="../../public/images/community/rankinglisth_12.jpg" alt=""/>
			<div class="ranking_foot_btn">
				<img src="../../public/images/community/rankinglisth_11.png" alt=""/>
			</div>
		</footer>
		<script type="text/javascript" src="../../public/javascripts/dropload.min.js"></script>
		<link rel="stylesheet" href="../../public/stylesheets/dropload.css" />
		<script type="text/javascript" src="../../public/javascripts/sha1.js"></script>
	</body>

</html>