<!DOCTYPE html>
<html>

	<!--<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<script type="text/javascript" src="../public/js/self-adapation.js"></script>
		<link rel="stylesheet" href="../public/css/community.css" />
		<title>正文</title>
	</head>-->
<% include community.ejs %>
	<body>
		<div class="hidden_one">
			<header class="jsxq_header" style="display: block;">
				<p>正文</p>
			</header>
			<div class="return" style="display: block;">
				<img src="../../public/images/install/ico_btn1_header@2x.png" alt="返回按钮" />
			</div>
			<div class="container_in">
				<div class="loading_content">
					<div class="sociality_content">
						<!--ul需要隐藏-->
						<!--<ul class="sociality_con_mix">
							<li class="sociality_con_mix_a">
								<div>
									<img src="../public/img/wangqijiexiao/img-face.jpg" alt="" />
								</div>
								<div>
									<p>中文名子什么都可以</p>
								</div>
								<div class="sociality_mix_change_btn">+关注</div>
							</li>
							<li class="sociality_con_mix_b">
								<img src="../public/img/all/4.jpg" alt="" />
							</li>
							<li class="sociality_con_mix_c">
								<p>这里发表你的看法，你想骂谁都可以哦！而且还是免费的，你觉得不是很好的一个发泄平台么？</p>
							</li>
						</ul>-->
					</div>
					<div class="like_comment">
						<!--下面内容-->
						<!--<div class="sociality_con_mix_d">
							<div class="add_bottom sociality_first sociality_sefi" onclick="select_it(this,1)">
								<img src="../public/img/community/ico_like@2x.png" alt="" /> 20k赞
							</div>
							<div class="sociality_second sociality_sefi" onclick="select_it(this,2)">
								<img src="../public/img/community/ico_comment@2x.png" alt="" /> 910评论
							</div>
							<div class="sociality_share">
							</div>
						</div>
						<div class="like_null" style="display:none">
							快来点个赞吧~
						</div>
						<div class="socia_messa_like">
							<ul class="socia_messa_likein">
								<li class="socia_messa_one">
									<img src="../public/img/wangqijiexiao/img-face.jpg" alt="" />
								</li>
								<li class="socia_messa_two">
									我是昵称你是什么呢啊
								</li>
								<li class="socia_messa_three socia_messa_blue">
									+关注
								</li>
							</ul>
							<ul class="socia_messa_likein">
								<li class="socia_messa_one">
									<img src="../public/img/wangqijiexiao/img-face.jpg" alt="" />
								</li>
								<li class="socia_messa_two">
									我是昵称你是什么呢啊
								</li>
								<li class="socia_messa_three socia_messa_yellow">
									相互关注
								</li>
							</ul>
							<ul class="socia_messa_likein">
								<li class="socia_messa_one">
									<img src="../public/img/wangqijiexiao/img-face.jpg" alt="" />
								</li>
								<li class="socia_messa_two">
									我是昵称你是什么呢啊我是昵称你是什么呢啊我是昵称你是什么呢啊
								</li>
								<li class="socia_messa_three socia_messa_red">
									已关注
								</li>
							</ul>
						</div>
						<div class="socia_messa_comme">
							<ul class="socia_comment_details">
								<li class="socia_comment_pic">
									<img src="../public/img/wangqijiexiao/img-face.jpg" alt="" />
								</li>
								<li class="socia_comment_right">
									<div class="socia_comment_head">
										<p>your nickname，who is your father? say it i let you got i let you go</p>
										<p>16:15:32</p>
									</div>
									<div class="socia_comment_words">
										<div class="comment_resend">回复<span>@我要更努力：</span></div>你的评论会显示在这里的哦，你考虑清楚了，别乱来，呵呵呵呵！你的评论会显示在这里的哦，你考虑清楚了，别乱来，呵呵呵呵！
									</div>
								</li>
							</ul>
							<ul class="socia_comment_details">
								<li class="socia_comment_pic">
									<img src="../public/img/wangqijiexiao/img-face.jpg" alt="" />
								</li>
								<li class="socia_comment_right">
									<div class="socia_comment_head">
										<p>your nickname，who is your father? say it i let you got i let you go</p>
										<p>16:15:32</p>
									</div>
									<div class="socia_comment_words">
										<div class="comment_resend">回复<span>@我要更努力：</span></div>你的评论会显示在这里的哦，你考虑清楚了，别乱来，呵呵呵呵！你的评论会显示在这里的哦，你考虑清楚了，别乱来，呵呵呵呵！
									</div>
								</li>
							</ul>
							<ul class="socia_comment_details">
								<li class="socia_comment_pic">
									<img src="../public/img/wangqijiexiao/img-face.jpg" alt="" />
								</li>
								<li class="socia_comment_right">
									<div class="socia_comment_head">
										<p>your nickname，who is your father? say it i let you got i let you go</p>
										<p>16:15:32</p>
									</div>
									<div class="socia_comment_words">
										<div class="comment_resend">回复<span>@我要更努力：</span></div>你的评论会显示在这里的哦，你考虑清楚了，别乱来，呵呵呵呵！你的评论会显示在这里的哦，你考虑清楚了，别乱来，呵呵呵呵！
									</div>
								</li>
							</ul>
						</div>
					</div>-->
					<!--上面内容-->
				</div>
			</div>
		</div>
		<div class="socia_messa_botto">
			<ol class="socia_messa_ol">
				<li class="socia_messa_liked">
					<img src="../../public/images/community/ico_like@2x.png" alt="" />
					<span>点赞</span>
				</li>
				<li class="socia_messa_line"></li>
				<li class="socia_messa_comment">
					<img src="../../public/images/community/ico_comment@2x.png" alt="" />
					<span>评论</span>
				</li>
				<li class="socia_messa_line"></li>
				<li class="socia_messa_flower">
					<img src="../../public/images/community/ico_flower_click@2x.png" alt="" />
					<span>送花</span>
				</li>
				<li class="socia_messa_line"></li>
				<li class="socia_messa_more">
					<img src="../../public/images/community/ico_share@2x.png" alt="" />
					<span>更多</span>
				</li>
			</ol>
		</div>
		<div class="comment_out">
			<div class="comment_area" style="display: none;">
				<form name=myform action="">
					<div class="comment_write">
						<p>请输入内容：</p>
						<textarea name="message" cols="28" rows="5" onKeyDown="textCounter(message,remLen,60);" onKeyUp="textCounter(message,remLen,60);" class="textarea_comment" id="textareaid" placeholder="lalala"></textarea>
						<div style="margin-left: 1rem;color: #666666;font-size: 1.1rem;">还剩可输入字数：<input name="remLen" type="text" value="60" readonly="readonly" class="input_comment" style="border: none;width: 1.8rem;">个</div>
						<div class="comment_sent">发表评论</div>
						<div class="comment_cancel">取消</div>
					</div>
				</form>
			</div>
		</div>
		<div class="pop_window">
			<div class="pop_shadow" style="display: none;"></div>
			<div class="pop_content" style="display: none;">
				<div class="pop_content_top">
					<div class="pop_content_num">选择数量</div>
					<div class="pop_content_img">
						<img src="../../public/images/all/ico_delete@2x.png" alt="删除按钮" />
					</div>
				</div>
				<div class="pop_content_choose">
					<ul class="pop_content_ones">
						<li>5</li>
						<li>20</li>
						<li>50</li>
						<li>100</li>
					</ul>
					<div class="pop_content_self">
						<div class="pop_content_left">
							<img src="../../public/images/community/ico_btn_reduce@2x.png" alt="减" />
						</div>
						<div class="pop_content_middle">
							<input type="number" alt="数字显示" value="1" />
						</div>
						<div class="pop_content_right">
							<img src="../../public/images/community/ico_btn_add@2x.png" alt="加" />
						</div>

					</div>
					<div class="pop_bottom">
						送<span class="pop_bottom_one">1</span>朵花花，共<span class="pop_bottom_two">1</span>元。
					</div>
				</div>
				<div class="pop_content_btn">
					确认送出
				</div>
			</div>
			<div class="pop_flower" style="display: none;">
				<div class="pop_flower_delete">
					<img src="../../public/images/community/bg_cls@3x.png" alt="" />
				</div>
				<div class="pop_flower_record">
					<div class="pop_flower_recordin">
						查看纪录
					</div>
				</div>
				<div class="pop_flower_recordgo">
					<img src="../../public/images/community/btn_t_middle@2x.png" alt="" />
				</div>
			</div>
			<div class="share_page" style="display: none;">
				<img src="../../public/images/community/share_page.png" alt="分享页面" />
			</div>
			<div class="delete_comment" style="display: none;">
				<div class="delete_commentornot">
					是否删除？
				</div>
				<div class="delete_commentyes">
					删除
				</div>
				<div class="pop_cancel">
					取消
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../public/javascripts/dropload.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/sociality_message.js"></script>
		<link rel="stylesheet" href="../../public/stylesheets/dropload.css" />
		<script type="text/javascript" src="../../public/javascripts/sha1.js"></script>
		<script>
			$(function() {
				function AdaptHeight_bg() {
					height = $(window).height();
					$('.pop_shadow,.comment_area').css('height', height);
				}
				window.onresize = AdaptHeight_bg();
				var placeholder = '';
				placeholder += '回复' + 'yourname';
				$('#textareaid').attr('placeholder', placeholder);
				var size = $('.socia_messa_ol li:visible').size();
				if(size === 5) {
					$('.socia_messa_ol li:nth-child(2n+1)').css('width', '10.6rem');
				} else if(size === 7) {
					$('.socia_messa_ol li:nth-child(2n+1)').css('width', '7.9rem');
				}
			})

			function textCounter(field, countfield, maxlimit) {
				// 函数，3个参数，表单名字，表单域元素名，限制字符；  
				if(field.value.length > maxlimit)
				//如果元素区字符数大于最大字符数，按照最大字符数截断；  
					field.value = field.value.substring(0, maxlimit);
				else
				//在记数区文本框内显示剩余的字符数；  
					countfield.value = maxlimit - field.value.length;
			}
			//-->
		</script>
	</body>

</html>