<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../public/javascripts/bottom_list.js"></script>
		<script type="text/javascript" src="../public/javascripts/jquery.marquee.min.js"></script>
		<script type="text/javascript" src="../public/javascripts/self-adapation.js"></script>
		<script type="text/javascript" src="../public/javascripts/swipe.js"></script>
		<script type="text/javascript" src="../public/javascripts/yiyuanduoquan.js"></script>
		<link rel="stylesheet" href="../public/stylesheets/main.css" />
		<link rel="stylesheet" href="../public/stylesheets/styles.css" />
		<title>一元夺券</title>
	</head>

	<body>
		<header class="jsxq_header">
			<p>修改地址</p>
		</header>
		<div class="return">
			<img src="../public/images/yiyuanduoquan/ico_btn1_header@2x.png" alt="帮助" />
		</div>
		<div class="helpe_btn">
			<img src="../public/images/yiyuanduoquan/ico_btn2_header@2x.png" alt="购物车" />
			<p>6</p>
		</div>
		<nav class="yydq_nav">
			<div>
				<div id="banner_box" class="box_swipe" style="visibility: visible;">
					<ul>
						<li>
							<a href=""> <img src="../public/images/yiyuanduoquan/1.jpg" alt="" /> </a>
						</li>
						<li>
							<a href="#"> <img src="../public/images/yiyuanduoquan/2.jpg" alt="" /> </a>
						</li>
						<li>
							<a href="#"> <img src="../public/images/yiyuanduoquan/3.jpg" alt="" /> </a>
						</li>
						<li>
							<a href="">
								<img src="../public/images/yiyuanduoquan/4.jpg" alt="" /> </a>
						</li>
					</ul>
					<ol>
						<li class="on"></li>
						<li class=""></li>
						<li class=""></li>
						<li class=""></li>
					</ol>
				</div>
			</div>
		</nav>
		<section class="yydq_middle">
			<aside>
				<div><img src="../public/images/yiyuanduoquan/broadcast_scroll@2x.png" alt="公告" /></div>
				<ul id="marquee" class="marquee">
					<li>
						<p>恭喜<span>士大夫士大夫士大夫士大夫</span>8分钟前获得<span>幸福券<em>1000</em>张</span></p>
					</li>
					<li>
						<p>恭喜<span>晓明</span>8分钟前获得<span>幸福券1000张</span></p>
					</li>
					<li>
						<p>恭喜<span>辉哥</span>8分钟前获得<span>幸福券1000张</span></p>
					</li>
				</ul>
			</aside>
			<aside>
				<div class="choose_bottom">进度
				</div>
				<div class="need_people">总需人数
					<span><i class="icon iconfont up_srow">&#xe601</i><i class="icon iconfont down_srow">&#xe600</i></span>
				</div>
			</aside>
		</section>
		<div class="new_index">
			<div class="new_index_mo">
				<div class="new_index_model">
					<img src="../public/images/yiyuanduoquan/img_cjlq15@2x.png" alt="超级礼券" class="index_pic" />
					<div class="index_title">扑多商城超级礼券<span>500</span>张</div>
					<ul class="index_foot">
						<li class="index_foot_left">
							<div class="index_issue">期号<span>888888</span></div>
							<div class="index_schedule">完成进度<span>95%</span></div>
							<div class="index_bar">
								<div class="index_bar_in"></div>
							</div>
						</li>
						<li class="index_foot_right">
							加入清单
						</li>
					</ul>
				</div>
			</div>
			<div class="new_index_mo">
				<div class="new_index_model">
					<img src="../public/images/yiyuanduoquan/img_cjlq15@2x.png" alt="超级礼券" class="index_pic" />
					<div class="index_title">扑多商城超级礼券<span>500</span>张</div>
					<ul class="index_foot">
						<li class="index_foot_left">
							<div class="index_issue">期号<span>888888</span></div>
							<div class="index_schedule">完成进度<span>95%</span></div>
							<div class="index_bar">
								<div class="index_bar_in"></div>
							</div>
						</li>
						<li class="index_foot_right">
							加入清单
						</li>
					</ul>
				</div>
			</div>
			<div class="new_index_mo">
				<div class="new_index_model">
					<img src="../public/images/yiyuanduoquan/img_cjlq15@2x.png" alt="超级礼券" class="index_pic" />
					<div class="index_title">扑多商城超级礼券<span>500</span>张</div>
					<ul class="index_foot">
						<li class="index_foot_left">
							<div class="index_issue">期号<span>888888</span></div>
							<div class="index_schedule">完成进度<span>95%</span></div>
							<div class="index_bar">
								<div class="index_bar_in"></div>
							</div>
						</li>
						<li class="index_foot_right">
							加入清单
						</li>
					</ul>
				</div>
			</div>
			<div class="new_index_mo">
				<div class="new_index_model">
					<img src="../public/images/yiyuanduoquan/img_cjlq15@2x.png" alt="超级礼券" class="index_pic" />
					<div class="index_title">扑多商城超级礼券<span>500</span>张</div>
					<ul class="index_foot">
						<li class="index_foot_left">
							<div class="index_issue">期号<span>888888</span></div>
							<div class="index_schedule">完成进度<span>95%</span></div>
							<div class="index_bar">
								<div class="index_bar_in"></div>
							</div>
						</li>
						<li class="index_foot_right">
							加入清单
						</li>
					</ul>
				</div>
			</div>
			<div class="new_index_mo">
				<div class="new_index_model">
					<img src="../public/images/yiyuanduoquan/img_ptlq1@2x.png" alt="超级礼券" class="index_pic" />
					<div class="index_title">扑多商城超级礼券<span>500</span>张</div>
					<ul class="index_foot">
						<li class="index_foot_left">
							<div class="index_issue">期号<span>888888</span></div>
							<div class="index_schedule">完成进度<span>95%</span></div>
							<div class="index_bar">
								<div class="index_bar_in"></div>
							</div>
						</li>
						<li class="index_foot_right">
							加入清单
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--<div class="fixd_icon">
			<ul class="fixd_icon_ul">
				<li class="fudong">
					<span></span>
					<img src="../public/images/yiyuanduoquan/ico_tab1_footer_click@2x.png" alt="" />
					<p>一元夺券</p>
				</li>
				<li class="fudong">
					<span></span>
					<img src="../public/images/yiyuanduoquan/ico_tab2_footer_click@2x.png" alt="" />
					<p>最新揭晓</p>
				</li>
				<li class="fudong">
							<span></span>
							<img src="../public/images/yiyuanduoquan/ico_tab3_footer_click@2x.png" alt=""/>
						<p>我的社交</p>
					</li>
				<li class="fudong">
					<span></span>
					<img src="../public/images/yiyuanduoquan/ico_tab4_footer_click@2x.png" alt="" />
					<p>幸福商城</p>
				</li>
				<li class="fudong">
					<span></span>
					<img src="../public/images/yiyuanduoquan/ico_tab5_footer_click@2x.png" alt="" />
					<p>个人中心</p>
				</li>
			</ul>
		</div>-->
		<!--<div class="put_on_file">
			<div>深圳市好幸福网络科技有限公司 <i class="icon iconfont">&#xe660;</i>2016 粤ICP备16032289号 &nbsp;<a href="http://www.miitbeian.gov.cn/icp/publish/query/icpMemoInfo_showPage.action#"><i class="icon iconfont">&#xe694;</i></a>
			</div>
		</div>-->
		<div class="lead_bar">
			<div class="lead_delete">
				&nbsp;&nbsp;×
			</div>
			<div class="lead_content">
				下载app有更多惊喜哦！
			</div>
			<div class="lead_btn">
				找惊喜
			</div>
		</div>
	</body>

</html>