.box_swipe {
	overflow: hidden;
	position: relative;
}

.box_swipe ul{list-style: none; width: 3200px; -webkit-transition: 500ms; /*-webkit-transform: translate3d(-2560px, 0px, 0px);*/}

.box_swipe ul {
	-webkit-padding-start: 0px;
}

.box_swipe>ol {
	height: 1rem;
	position: relative;
	z-index: 10;
	margin-top: -1.75rem;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
}

.box_swipe>ol>li {
	display: inline-block;
	margin-bottom: 0.7rem;
	width: 0.3rem;
	height: 0.3rem;
	vertical-align: middle;
	background-color: #757575;
	border-radius: 50%;
}

.box_swipe>ol>li.on {
	background-color: #ffffff;
}

