<!DOCTYPE html>
<html>
 
	<!--<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<script type="text/javascript" src="../../public/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/flexible.js"></script>
		<script type="text/javascript" src="../../routes/active.js"></script>
		<link rel="stylesheet" href="../../public/stylesheets/active.css" />
		<title>邀请好友领红包</title>
	</head>-->
<% include active.ejs %>
	<body>
		<div class="all-contain">
			<header class="active-head">
				<img src="../../public/images/activeone/invide-1.png" alt="邀请好友" />
				<img src="../../public/images/activeone/invide-2.png" alt="邀请好友" />
			</header>
			<div class="myreward">
				<p class="reward-words">
					分享此页面，每成功邀请3位好友下载并注册扑多，即可获赠5元红包。
				</p>
				<img src="../../public/images/activeone/invide-3.jpg" />
				<p class="reward-words">
					好友每消费100元，你可获得1元的返现红包。
				</p>
				<img src="../../public/images/activeone/invide-6.jpg" />
			</div>
			<div class="friend-reward myreward">
				<img src="../../public/images/activeone/invide-4.jpg" class="reward-friend" />
				<p class="reward-words">
					注册后，即可获得5元红包。
				</p>
				<img src="../../public/images/activeone/invide-3.jpg" />
				<p class="reward-words">
					每充值100元，即可获得 10元返利红包。
				</p>
				<img src="../../public/images/activeone/invide-6.jpg" />
			</div>
			<div class="already-invide">
				<div class="invide-num">我已成功邀请<span>600</span>位好友</div>
				<div class="invide-money">邀请奖励<span>300</span></div>
				<ul class="invide-ul">
					<li class="invide-number">您的邀请码：<span>888888</span></li>
					<li class="invide-check">查看收获纪录></li>
				</ul>
			</div>
			<footer class="invide-hint">
				<h1>温馨提示<span class="invide-up"><i class="icon iconfont">&#xe601</i></span><span class="invide-down" style="display: none;"><i class="icon iconfont">&#xe600</i></span></h1>
				<div class="invide-animate">
					<p>1.红包直接发放至账户，下载、注册并登录后即可使用。</p>
					<p>2.返现红包每月结算。</p>
					<p>3.返利红包的单次充值奖励上限为1000元，即：充值199返利10元，充值1000元以上返利100元。但允许多次充值。</p>
					<p>4.所有红包有效期为72小时。</p>
					<p>5.每次夺券仅可以使用一张红包。</p>
					<p>6.扑多保留法律范围内允许的对活动的解释权。</p>
					<p>7.本次活动与苹果公司无关。</p>
				</div>
			</footer>
			<div class="invide-btn">
				<div class="invide-btn-attend">
					立即分享
				</div>
			</div>
			<div class="invide-pop">
				<div class="pop-shadow" style="display: none;"></div>
				<div class="pop-content" style="display: none;">
					<div class="pop-content-head">每周结算</div>
					<img src="../../public/images/all/ico_delete@2x.png" class="pop-delete" />
					<div class="pop-turning">
						<ul class="pop-ul">
							<li class="pop-li-a">
								<img src="../../public/images/all/img-face.jpg" alt="头像" />
							</li>
							<li class="pop-li-b">
								<div class="pop-li-btop">是如此吊炸天此吊炸天</div>
								<div class="pop-li-bbottom"><span>2016:05:05</span>注册</div>
							</li>
							<li class="pop-li-c">
								已获得<span class="pop-c-spa">1000</span>元奖励
							</li>
						</ul>
						<ul class="pop-ul">
							<li class="pop-li-a">
								<img src="../../public/images/all/img-face.jpg" alt="头像" />
							</li>
							<li class="pop-li-b">
								<div class="pop-li-btop">fuck是如此吊炸天此吊炸天</div>
							</li>
							<li class="pop-li-c">
								已消费<span>1000</span>元
							</li>
						</ul>
						<ul class="pop-ul">
							<li class="pop-li-a">
								<img src="../../public/images/all/img-face.jpg" alt="头像" />
							</li>
							<li class="pop-li-b">
								<div class="pop-li-btop">fuck是如此吊炸天此吊炸天</div>
							</li>
							<li class="pop-li-c">
								已消费<span>1000</span>元
							</li>
						</ul>
						<ul class="pop-ul">
							<li class="pop-li-a">
								<img src="../../public/images/all/img-face.jpg" alt="头像" />
							</li>
							<li class="pop-li-b">
								<div class="pop-li-btop">fuck是如此吊炸天此吊炸天</div>
							</li>
							<li class="pop-li-c">
								已消费<span>1000</span>元
							</li>
						</ul>
						<ul class="pop-ul">
							<li class="pop-li-a">
								<img src="../../public/images/all/img-face.jpg" alt="头像" />
							</li>
							<li class="pop-li-b">
								<div class="pop-li-btop">fuck是如此吊炸天此吊炸天</div>
							</li>
							<li class="pop-li-c">
								已消费<span>1000</span>元
							</li>
						</ul>
						<ul class="pop-ul">
							<li class="pop-li-a">
								<img src="../../public/images/all/img-face.jpg" alt="头像" />
							</li>
							<li class="pop-li-b">
								<div class="pop-li-btop">fuck是如此吊炸天此吊炸天</div>
							</li>
							<li class="pop-li-c">
								已消费<span>1000</span>元
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>