<!DOCTYPE html>
<html>
 
	<!--<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<script type="text/javascript" src="../public/js/flexible.js"></script>
		<link rel="stylesheet" href="../public/css/active.css" />
		<title>送我花花吧</title>
	</head>-->
<% include active.ejs %>
	<body>
		<div class="send-container">
			<div class="send-nickname">
				<span>填写用户姓名叉叉叉叉填写</span>
			</div>
			<img src="../../public/images/activeone/send-btn.png" alt="送花按钮" class="send-btn"/>
		</div>
	</body>
</html>
